.Product{
  background-repeat: no-repeat;
  background-size: cover;

   .productsheader{
    background-image: url("../../images/pixelcut-export.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  h1{
    font-size: 32px;
    font-weight: 600;
  }
  p{
    font-size: 16px;
    font-weight: 600;
  }
   }

}
ul{

}
li{

}
.rice-varieties {
  list-style: none;
  padding: 0!important;
  background-color: #87b961;
  color: #FFFFFF;

}

.rice-varieties li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align:left;
  border-bottom: 1px solid rgb(221, 215, 215);
  font-size: 16px;
  font-weight: 600;
}
.category-dropdown{

}
.varieties-dropdown li{

}


  @media (max-width: 576px) {

  }
  
  
  .ricetype{
    list-style: none;
    text-align: left;
    li{
      font-size: 18px;
      font-weight: 500;
      padding: 10px;
      // text-transform: uppercase;
    }
    .subcategory{
      // list-style: none;
      text-align: left;
      li{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }

    }
  }