.basmati-rice-page{
    // background-image: url("../../images/pixelcut-export.jpeg");


    .ricecard {
      --animate-duration: 2s;
      --animate-delay: 0.5s;
    }
.ricecard{
    border-top: 6px solid #87b961;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    .pointer{
    width: 13px;
    height: 13px;
    background-color: #87b961;
    border-radius: 50%;
    }
    .ricetype{
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        text-align: left;
    }
    img{
        height: 100%;
        width: 100%
    }
    .knowbtn{
        background-color: #87b961;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 600;
        border: none;
        padding: 10px;
        width: fit-content;
    }
}
}

