.products{
    
    .card{
        border-radius: 15px !important;
        background: none !important;
        height: 100%;
        background-color: var(--secondary-green)!important;
        color: #FFFFFF;
        margin:auto;
        h4{
            /* color: black; */
            text-align: center;
            height: 30%;
        }
        ul{
            list-style: none;
            background-color: #FFFFFF;
            height: 100%;
            
            li{
                color: black;
                line-height: 25spx;
            }
        }
    }

}

.primaryBtn{
    background-color: var( --primary-color)!important;
    color: var(--secondary-color);
    border: 0;
    font-size: 18px;

}