header {
    position: relative !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;  
    .navbar {
      display: flex;
      flex-direction: column; // Default mobile-first layout (vertical)
      align-items: center;    // Center align items
      justify-content: center;
  
      .navbar-toggler {
        background-color: #fff; // White background for the toggle button
        border: none; // Remove border for cleaner design
  
        .navbar-icon {
          color: #000; // Black icon
          font-size: 1.5rem; // Adjust icon size if needed
        }
      }
  
      .navbar-toggler-icon {
        background-color: transparent; // Remove default background color
  
        &::before,
        &::after,
        & > span {
          background-color: #000; // Black hamburger bars
        }
      }
  
      .navbar-collapse {
        display: flex;
        flex-direction: column; // Stack navbar items vertically on mobile
        align-items: center;
        justify-content: center;
      }
  
      .navbar-nav {
        padding: 0;
        margin: 0;
        list-style-type: none;
  
        .nav-item {
          margin: 10px 0; // Margin for nav items
        }
  
        .nav-link {
          text-decoration: none;
          color: #000;
          font-weight: 500;
          font-size: 18px; // Set font size for nav links
          transition: color 0.3s ease;
          
          &:hover {
            color: #007bff; // Hover color
          }
        }
  
        .active {
          font-weight: 700; // Bold for active links
          color: #87b961; // Text and underline color
          text-decoration: underline; // Enable underline
          text-decoration-thickness:3px; // Set underline thickness to 4px
          text-underline-offset: 5px; // Add 4px gap between text and underline
        }
        
      }
  
      // Adjust layout for larger screens (tablets and above)
      @media (min-width: 768px) {
        flex-direction: row; // Row layout for larger screens (horizontal)
        justify-content: space-between; // Space out the logo and nav items
        align-items: center;
  
        .navbar-collapse {
          flex-direction: row;  // Row layout for navbar items on larger screens
        }
  
        .nav-item {
          margin: 0 15px; // Space out navbar items
        }
  
        .logo {
          width: 150px !important;  // Logo size for larger screens
          height: 70px !important;  // Logo size for larger screens
        }
      }
  
      #navbarNav {
        justify-content: end; // Align nav items to the right on larger screens
      }
    }
  }
  
  // Logo styles
  .logo {
    width: 170px;
    height: 80px;
    /* transition: transform 0.3s ease; Smooth scaling effect */
  }
  