.btn-primary {
    background-color: #4caf50 !important; /* Overrides Bootstrap */
}
  
:root {
    --primary-color: #0d2d06; /* Blue */
    --secondary-color: #e7c176; /* Green */
  }
a{
    text-decoration: none;
    color: inherit;
}  
  
  