.btn-primary {
    background-color: #4caf50 !important; /* Overrides Bootstrap */
}

* {
    font-family: Poppins;
}
  
:root {
    --primary-color: #0d2d06; /* Blue */
    --secondary-color: #e7c176; /* Green */
    --golden-color :#f4c842;
  }
a{
    text-decoration: none;
    color: inherit;
}  
.blockheader{
    font-size: 36px !important;
    font-weight: 600 !important;
    margin-bottom: 12px;
}
  
  