/* General Header Styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.sticky {
  position: fixed;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
  width: 120px;
  height: 120px;
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

header.sticky .logo {
  transform: scale(1.1); /* Slightly scale the logo when sticky */
}

/* Navigation Styles */
header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; /* Ensure consistent alignment */
}


header nav ul li {
  margin: 10px 15px;
  cursor: pointer;
  color: black; /*font color before sticky */
  padding: 5px 10px; /* Add padding to maintain consistent spacing */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
}

header nav ul li:hover {
  border-radius: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.1); /* Slightly enlarge the list item */
}








header.sticky nav ul li {
  color: var(--secondary-color);
}



