/* General Header Styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.sticky {
  position: fixed;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Logo Styles */
.logo {
  width: 50px;
  height: 50px;
}

/* Navigation Styles */
header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0; /* Added for consistency */
}

header nav ul li {
  margin: 0 10px;
  cursor: pointer;
  color: var(--primary-color);
}

header.sticky nav ul li {
  color: var(--secondary-color);
}

.header {
  background-color: transparent; /* This is redundant, already in `header` */
}
